h1{
    color:blueviolet;
}
*{
    border:solid;
}
.header{
    background-color: chartreuse;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}